@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@tailwind utilities;
@tailwind base;
@tailwind components;

html, body, section {
    block-size: 100%;
}

body {
    margin: 0;
    text-align: center;
}

html {
    scroll-snap-type: y mandatory;
}

section {
    scroll-snap-align: start;
    scroll-snap-stop: always;

    overflow-x: hidden;
    display: flex;
}

section:nth-of-type(even) {
    color: black;
    background: #fff3f3;
}

section:nth-of-type(1) {
    color: white;
    background-image: url("img/kathi_frontview_darkened.jpg");
    background-size: cover;
}

section:nth-of-type(3) {
    color: white;
    background-image: url("./assets/img/");
    background-size: cover;
}

hr {
    width: 40%;
    margin-left: 25px;
    margin-right: 25px;
}

h1 {
    font-family: "Playfair Display", serif;
    font-size: 6rem;
    white-space: nowrap;
    line-height: 0.8;
    cursor: default;
}

h2 {
    font-family: "Playfair Display", serif;
    font-size: 2rem;
    white-space: nowrap;
    line-height: 0.8;
    cursor: default;
    font-weight: normal;
}

p {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.25rem;
    cursor: default;
}

table {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.25rem;
    text-align: left;
}

td {
    border: 10px transparent;
}