@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@tailwind utilities;
@tailwind base;
@tailwind components;

html, body, section {
    block-size: 100%;
}

body {
    margin: 0;
    text-align: center;
}

html {
    scroll-snap-type: y mandatory;
}

